@font-face {
  font-family: 'iconfont';
  /* project id 2352964 */
  src: url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.eot');
  src: url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.woff') format('woff'),
    url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2352964_t5hhnwpolv.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}