@font-face {
  font-family: 'iconfont';  /* project id 2352964 */
  src: url('//at.alicdn.com/t/font_2352964_j8q8f7snze.eot');
  src: url('//at.alicdn.com/t/font_2352964_j8q8f7snze.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2352964_j8q8f7snze.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2352964_j8q8f7snze.woff') format('woff'),
  url('//at.alicdn.com/t/font_2352964_j8q8f7snze.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2352964_j8q8f7snze.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}