@mixin flex($hov:space-between, $col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

@mixin bgImg($w:0, $h:0, $imgUrl:'') {
    width: $w;
    height: $h;
    background: url($imgUrl) no-repeat center;
    background-size: contain;
}